* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $text-primary;
  font-family: 'Nunito', sans-serif;
  font-size: 0.9rem;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  height: 100%;
}

.w-50 {
  width: 50%;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.btn {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  color: #fff;
  background-color: $brand-primary;
  border: 1px solid $brand-primary;
  transition: .3s;
  &:hover {
    background-color: darken($brand-primary, 13%);
  }
}

.btn-secondary {
  color: $brand-primary;
  background-color: transparent;
  border: 1px solid $brand-primary;
  transition: .3s;
  &:hover {
    color: #fff;
    background-color: $brand-primary;
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
}

.logo {
  height: 20px;
} 

li {
  padding-bottom: 5px;
}