* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $text-primary;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  height: 100%;
}

.w-50 {
  width: 50%;
}

.btn-primary {
  padding: 7px 12px;
  color: #fff;
  background-color: $brand-secondary;
  border: 1px solid $brand-secondary;
  border-radius: 5px;
}

.btn-secondary {
  padding: 7px 12px;
  color: $brand-secondary;
  background-color: transparent;
  border: 1px solid $brand-secondary;
  border-radius: 5px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 70px;
}