* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $text-primary;
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  height: 100%;
}

.w-50 {
  width: 50%;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.btn {
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: $brand-secondary;
  border: 1px solid $brand-secondary;
  transition: .3s;
  &:hover {
    background-color: darken($brand-secondary, 13%);
  }
}

.btn-secondary {
  color: $brand-secondary;
  background-color: transparent;
  border: 1px solid $brand-secondary;
  transition: .3s;
  &:hover {
    color: #fff;
    background-color: $brand-secondary;
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 70px;
}

.logo {
  height: 20px;
} 