.section-title {
  h2 {
    color: black;
    padding-bottom: 20px;
  }
  h5 {
    color: $brand-primary;
    padding-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: $brand-primary;
  }
}

